

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}


.main{
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    height: 100px;

    align-items: center;
}
nav img{
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding:  0 30px;

}

.hero> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation{
    height: 7px;
    background-color: rgb(41, 41, 41);
    position: relative;
    z-index: 10;

}
.btn{
    
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgb(248, 243, 243,0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;

}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 7px 101px 8px 14px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(230, 215, 215, 0.5);;
}


.btn-red-sm{
    background-color: red;
    color: white;

}
.first{

    display: flex;
    justify-content: center;
    max-width: 70vw;
    height: 80vh;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}


.secimg{
    position: relative;
}

.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0k;
}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size:22px;


}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
}
.faqbox:hover{
    
    background-color: rgb(29, 28, 28);
    color: white;

}
.faqbox{
    color: white;
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer{
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 14px;
    
}


footer .question{
    padding: 34px 0;

}


.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
   
}@media screen and (max-width:1200px){
    nav{
        max-width: 90vw;
    }
   
    .first{
        flex-wrap: wrap;
    }
    .secimg img{
        width: 305px;
        
    }
    .secimg video{
        width: 305px;
        
    }
    .hero> :nth-child(1) {
        font-size: 32px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
   
    
}
@media screen and (max-width:1200px){
   
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        
        
       
    }
    
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
